// /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #main-header {
    .header-content h1 {
      font-size: 4rem;
    }
    .header-content h3 {
      font-size: 1.5rem;
      transform: translate(148%, -30%);
    }
  }
}

// /* Small devices (portrait tablets and large phones, 600px and up) */
// @media only screen and (min-width: 600px) {}

// /* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  body {
    font-size: 1.4rem;
    line-height: 1.4;
  }
}

// /* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
  #subject {
    .container {
      grid-template-columns: 1fr;
    }
  }
}
// /* Extra large devices (large laptops and desktops, 1200px and up) */
// @media only screen and (min-width: 1200px) {}
